{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.id }}</a>
              <small class="text-muted">{{ post.id }}</small>
            </div>
            <p class="article-content">Si = {{ post.si }}</p>
            <p class="article-content">Fe = {{ post.fe }}</p>
            <p class="article-content">Mn = {{ post.mn }}</p>
            <p class="article-content">Mg = {{ post.mg }}</p>
            <p class="article-content">Cr = {{ post.cr }}</p>
          </div>

    {% endfor %}
  </article>

  <form method="POST" action="">
    {{ form.hidden_tag() }}

  <fieldset class="form-group">
    <div class="row">

      <div class="col">
        <div class="form-group">
      {{ form.si.label(class="form-control-label") }}
      {% if form.si.errors %}
        {{ form.si(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.si.errors %}
        <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
       {{ form.si(class="form-control form-control-lg") }}
      {% endif %}
        </div>
      </div>

      <div class="col">
        <div class="form-group">
      {{ form.fe.label(class="form-control-label") }}
      {% if form.fe.errors %}
        {{ form.fe(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.fe.errors %}
        <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
       {{ form.fe(class="form-control form-control-lg") }}
      {% endif %}
        </div>
      </div>

      <div class="col">
        <div class="form-group">
      {{ form.mn.label(class="form-control-label") }}
      {% if form.mn.errors %}
        {{ form.mn(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.mn.errors %}
        <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
       {{ form.mn(class="form-control form-control-lg") }}
      {% endif %}
        </div>
      </div>

      <div class="col">
        <div class="form-group">
      {{ form.mg.label(class="form-control-label") }}
      {% if form.mg.errors %}
        {{ form.mg(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.mg.errors %}
        <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
       {{ form.mg(class="form-control form-control-lg") }}
      {% endif %}
        </div>
      </div>

      <div class="col">
        <div class="form-group">
      {{ form.cr.label(class="form-control-label") }}
      {% if form.cr.errors %}
        {{ form.cr(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.cr.errors %}
        <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
       {{ form.cr(class="form-control form-control-lg") }}
      {% endif %}
        </div>
      </div>

</div>

  </fieldset>
  <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
  </div>
</form>

  <dl>
	Output = {{ output }}
  </dl>
{% endblock content %}
